body {
  margin: 0;
  font-family: 'The Girl Next Door';
  font-size: 2vw;
}

a {
  cursor: pointer;
}

.icon {
  width: 3vw;
  height: 3vw;
  cursor: pointer;
}

.fill {
  width: 100%;
  height: 100%;
}